## Open Machine Learning Course | Week 1 | Exploratory Data Analysis

This solution belongs to Assignment#1 of [Open Machine Learning Course](https://mlcourse.ai).\
Video link of the Lecture#1: <https://youtu.be/fwWCw_cE5aI>\
Link of the Assignment#1: <https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset>

In [1]:
# import libraries
import pandas as pd

In [52]:
dataset_url ='https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
dataset_columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country','salary']

In [53]:
df = pd.read_csv(dataset_url, header=None, names=dataset_columns, index_col=False)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#### 1. How many men and women (sex feature) are represented in this dataset?

In [54]:
df['sex'].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

#### 2. What is the average age (age feature) of women?

In [73]:
df['sex'] = df['sex'].str.strip()
df[df.sex == 'Female'].age.mean()

36.85823043357163

#### 3. What is the percentage of German citizens (native-country feature)?

In [74]:
df['native-country'] = df['native-country'].str.strip()

In [ ]:
df.rename(columns={'native-country' : 'nativecountry'}, inplace=True)

In [88]:
len(df[df.nativecountry == 'Germany']) / len(df['nativecountry']) * 100

0.42074874850281013

#### 4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature)?

In [94]:
df['salary'] = df['salary'].str.strip()
df[df.salary == '>50K'].age.describe()

count    7841.000000
mean       44.249841
std        10.519028
min        19.000000
25%        36.000000
50%        44.000000
75%        51.000000
max        90.000000
Name: age, dtype: float64

#### 5. What are the mean and standard deviation of age for those who earn less than 50K per year?

In [110]:
df[df['salary'] == '<=50K']['age'].describe()

count    24720.000000
mean        36.783738
std         14.020088
min         17.000000
25%         25.000000
50%         34.000000
75%         46.000000
max         90.000000
Name: age, dtype: float64

####  6. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [103]:
df[df.salary == '>50K'].education.unique() # answer is No

array([' HS-grad', ' Masters', ' Bachelors', ' Some-college',
       ' Assoc-voc', ' Doctorate', ' Prof-school', ' Assoc-acdm',
       ' 7th-8th', ' 12th', ' 10th', ' 11th', ' 9th', ' 5th-6th',
       ' 1st-4th'], dtype=object)

#### 7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [125]:
df.groupby(['race', 'sex'])['age'].describe() # maximum age of men of Amer-Indian-Eskimo race is 82.0

                              count       mean        std   min   25%   50%  \
race                sex
 Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                    Male      192.0  37.208333  12.049563  17.0  28.0  35.0
 Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                    Male      693.0  39.073593  12.883944  18.0  29.0  37.0
 Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                    Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
 Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                    Male      162.0  34.654321  11.355531  17.0  26.0  32.0
 White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                    Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                              75%   max
race                sex
 Amer-Indian-Eskimo Female  46.00  80.0
                    Male    45.00  82.0
 Asian-Pac-Islander Female  43.75  75.0
                    Male    46.00  90.0
 Black              Female  46.00  90.0
                    Male    46.00  90.0
 Other              Female  39.00  74.0
                    Male    42.00  77.0
 White              Female  46.00  90.0
                    Male    49.00  90.0

#### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [127]:
df.rename(columns={'marital-status' : 'maritalstatus'}, inplace=True)

In [139]:
df[df['salary'] == '>50K']['maritalstatus'].value_counts() #answer is "among married"

 Married-civ-spouse       6692
 Never-married             491
 Divorced                  463
 Widowed                    85
 Separated                  66
 Married-spouse-absent      34
 Married-AF-spouse          10
Name: maritalstatus, dtype: int64

#### 9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [140]:
df['hours-per-week'].describe() # max number is 99.

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours-per-week, dtype: float64

In [144]:
len(df[df['hours-per-week'] == 99]) # 85 people works 99 hrs per week

85

In [153]:
print(len(df[(df['hours-per-week'] == 99) & (df['salary'] == '>50K')]))

25

In [154]:
print(len(df[df['hours-per-week'] == 99]['salary']))

85

In [156]:
print(100 * 25 / 85)

29.41176470588235

#### 10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [163]:
df.groupby(['nativecountry', 'salary'])['hours-per-week'].describe()

                       count       mean        std   min    25%   50%   75%  \
nativecountry salary
?             <=50K    437.0  40.164760  12.817002   1.0  40.00  40.0  45.0
              >50K     146.0  45.547945  10.202827   8.0  40.00  40.0  50.0
Cambodia      <=50K     12.0  41.416667   3.088346  40.0  40.00  40.0  40.5
              >50K       7.0  40.000000   0.000000  40.0  40.00  40.0  40.0
Canada        <=50K     82.0  37.914634  13.012056   8.0  32.75  40.0  40.0
...                      ...        ...        ...   ...    ...   ...   ...
United-States >50K    7171.0  45.505369  11.025092   1.0  40.00  40.0  50.0
Vietnam       <=50K     62.0  37.193548  12.422664   1.0  40.00  40.0  40.0
              >50K       5.0  39.200000   1.788854  36.0  40.00  40.0  40.0
Yugoslavia    <=50K     10.0  41.600000  11.305849  20.0  40.00  40.0  40.0
              >50K       6.0  49.500000  11.202678  40.0  40.00  46.0  58.0

                       max
nativecountry salary
?             <=50K   99.0
              >50K    80.0
Cambodia      <=50K   50.0
              >50K    40.0
Canada        <=50K   70.0
...                    ...
United-States >50K    99.0
Vietnam       <=50K   77.0
              >50K    40.0
Yugoslavia    <=50K   66.0
              >50K    65.0

[82 rows x 8 columns]

In [164]:
df2 = df[df.nativecountry == 'Japan']

In [166]:
df2.groupby(['nativecountry', 'salary'])['hours-per-week'].describe()

                      count       mean        std   min   25%   50%   75%  \
nativecountry salary
Japan         <=50K    38.0  41.000000  11.902759  10.0  40.0  40.0  41.5
              >50K     24.0  47.958333  16.120414  21.0  40.0  42.5  50.0

                       max
nativecountry salary
Japan         <=50K   65.0
              >50K    99.0